nav {
  font-size: 1.5rem;
  background-color: rebeccapurple;
  height: 100px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  color: #fff;
  margin: 10px 0;
}
nav ul li:hover {
  background-color: #555;
  color: #fff;
}
